[v-cloak] {
	display: none;
}

.stock-lista {
	display: grid;
	grid-template-columns: 1fr;
}
.contenedor-de-alertas {
	margin-top: 1em;
	display: grid;
	grid-template-columns: 1fr;
}

@media (min-width: 700px) {
	.stock-lista {
		grid-template-columns: 1fr 1fr;
	}
	.contenedor-de-alertas {
		grid-template-columns:  1fr auto;
		grid-column-gap: 10px;
		/*grid-auto-flow: row;*/
	}
}
