[v-cloak] {
  display: none;
}

.grid-2-col {
  padding: 0 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}

.cabecera-factura {
	display: grid;
	grid-template-areas: "fecha fecha" "nombre tipo-cliente";
}

.venta {
	font-size: 1.1em;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
	border-left: solid .5em #ecf0f1;
}

.alineador-venta {
	padding: 1em 0;
	display: grid;
	grid-template-columns: 5fr 1fr 1fr;
	height: 3.5em;
}

.alineador-venta p {
	padding: 0 2em;
}

.titulo-venta {
  font-weight: bolder;
}
.titulo-venta * {
	text-transform: uppercase;
}

.resumen-venta {
	border-top: solid 0.4em #7f8c8d;
  font-weight: 900;
}
.resumen-venta * {
	text-transform: uppercase;
}

.detalle-venta {
  display: grid;
  grid-template-columns: 1fr;
	grid-template-rows: 4em;
}

.detalle-venta div:nth-child(2n + 1) {
  background-color: #ecf0f1;
  border-top: solid 1px #bdc3c7;
  border-bottom: solid 1px #bdc3c7;
}

.detalle-venta div:first-child {
  border-top: none;
}

.detalle-venta div:last-child {
  border-bottom: none;
}

.stock-lista {
  display: grid;
  grid-template-columns: 1fr;
}

.contenedor-de-alertas {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr;
}

.contenedor-de-graficos {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
}

@media (min-width: 700px) {
  .stock-lista {
    grid-template-columns: 1fr 1fr;
  }
  .contenedor-de-alertas {
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
  }
  .contenedor-de-graficos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
  }
}

@media (min-width: 1200px) {
  .contenedor-de-graficos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
  }
}
